body {
	@apply font-serif antialiased text-gray-900 bg-white dark:bg-gray-900 dark:text-gray-100;
}

h1 {
	@apply mb-1 font-sans text-3xl font-bold leading-tight;
}

h2 {
	@apply mb-1 font-sans text-xl;
}

h3 {
	@apply my-3 font-sans text-3xl font-bold leading-tight;
}

@screen sm {
	h1 {
		@apply text-4xl;
	}
	h2 {
		@apply text-2xl;
	}
	h3 {
		@apply my-5 text-3xl;
	}
}

@screen md {
	h1 {
		@apply text-5xl;
	}
	h2 {
		@apply text-2xl;
	}
	h3 {
		@apply text-4xl;
	}
}

.visible-hidden {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.visible-hidden:focus {
	clip: auto;
	height: auto;
	overflow: auto;
	position: absolute;
	width: auto;
}

svg.fa-icon {
	height: 1em;
	width: 1em;
	vertical-align: -0.125em;
	font-size: inherit;
	overflow: visible;
}
