@import '@fontsource-variable/catamaran';
@import '@fontsource/source-serif-pro';

/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	@apply scroll-smooth;
}

body {
	@apply bg-white font-sans text-gray-900 antialiased dark:bg-neutral-900 dark:text-gray-100;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@apply font-serif;
}

h1 {
	@apply mb-1 text-3xl font-semibold sm:text-4xl md:text-5xl;
}

h2 {
	@apply mb-1 text-xl sm:text-2xl;
}

h3 {
	@apply my-3 text-3xl font-semibold sm:my-5 sm:text-3xl md:text-4xl;
}

.visible-hidden {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.visible-hidden:focus {
	clip: auto;
	height: auto;
	overflow: auto;
	position: absolute;
	width: auto;
}

svg.fa-icon {
	height: 1em;
	width: 1em;
	vertical-align: -0.125em;
	font-size: inherit;
	overflow: visible;
}
